$PrimaryColor: rgb(231, 1, 1);
$HoverColor: rgb(231, 181, 181);
$paleGreen: rgb(231, 181, 181);
$whiteColor: rgb(255, 255, 255);
$blackColor: rgb(15, 15, 15);
$textColor: rgb(116, 116, 116);
$bgColor: hsl(220, 10%, 94%);
$greyText: rgb(190, 190, 190);
$inputColor: hsl(330, 12%, 97%);

// Font and Typography

$biggestFontSize: 2.5rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.2rem;
$h3FontSize: 1rem;
$normalFontSize: .938rem;
$smallFontSize: .813rem;
$smallestFontSize: .75rem;


.topSection {
    .headerSection {
        justify-content: space-between;

        
        .title {
            h1 {
                font-size: $h1FontSize;
                color: $blackColor;
                font-weight: 700;
            }
    
            p{
                font-size: $normalFontSize;
                color: $textColor;
                font-weight: 500;
            }
        }

        .searchBar {
            padding: 1rem 2rem;
            background-color: $whiteColor;
            border-radius: 5px;
            gap: 1rem;
            box-shadow: 0 2px 4px $inputColor;

            input {
                border: none;
                outline: none;
                background: none;
            }

            .icon {
                color: $textColor;
                &:hover {
                    color: $PrimaryColor;
                }
            }

        }

        .adminDiv {
            gap: 1rem;

            .icon {
                font-size: $biggestFontSize;
                background-color: $whiteColor;
                border-radius: 5px;
                padding: 5px;
                box-shadow: 0 2px 4px $inputColor;
                color: $textColor;
            }

            .adminImage {
                border: 3px solid $whiteColor;
                border-radius: 50%;
                width: 3.5rem;
                height: 3.5rem;
            
                overflow: hidden;
                box-shadow: 0 2px 4px $inputColor;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: contain;
                }

            }
        }
    }

    .cardSection {
        margin-top: 3rem;
        gap: 1rem;

        .rightCard {
            position: relative;
            flex-basis: 70%;
            height: 210px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: auto;
            padding: 2rem;
            border-radius: 1rem;
            overflow: hidden;

            .videoDiv {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    &:hover {
                        transform: scale(105%);
                    }
                }
            }

            h1, p, .btn{
                z-index: 100;
            }

            h1 {
                font-size: $h1FontSize;
                color: $whiteColor;
                font-weight: 800;
            }

            p {
                padding: 1rem;
                color: $whiteColor;
                font-weight: 500;
            }

            .buttons {
                gap: 1rem;

                .btn {
                    box-shadow: none;
                    padding: .8rem 1.5rem;
                    color: $PrimaryColor;
                    border: 2px solid transparent;
                }

                .transparent {
                    background: none;
                    border: 2px solid $paleGreen;
                    color: $paleGreen;

                    &:hover {
                        background-color: $paleGreen;
                        color: $PrimaryColor;
                    }

                }
            }

        }

        .leftCard {

            flex-basis: 50%;

            .main {
                position: relative;
                padding: 1rem ;
                height: 210px;
                border-radius: 1rem;
                justify-content: space-between;

                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: $paleGreen;
                    left: 0;
                    bottom: 0;
                    border-radius: 1rem;
                }

                .textDiv {
                    z-index: 100;

                    h1 {
                        font-size: $h1FontSize;
                        padding-bottom: 1rem;
                        color: $blackColor;
                    }

                    .flex {
                        gap: 1.5rem;
                        font-weight: 500;
                        color: $blackColor;

                        small {
                            font-size: $normalFontSize;
                            display: block;
                            color: $PrimaryColor;
                            font-weight: 500;
                            padding: .5rem 0;
                        }
                    }

                    .link {
                        margin-top: 2rem;
                        cursor: pointer;

                        &:hover {
                            color: $PrimaryColor;

                            .icon {
                                transform: translateX(10px);
                                transition: .3s ease;
                            }
                        }
                    }
                }

                .imgDiv {
                    transform: translateY(-155px) translateX(20px);

                    // linha interessante

                    img {
                        width: 350px;
                    }
                    
                   

                    
                }

            }

        }
    }
}

.sideBarCard {
    display: none;
    width: 100%;
    padding: 1rem;
    text-align: center;
    position: relative;

    .icon {
        position: absolute;
        background-color: $HoverColor;
        border: 10px solid $whiteColor;
        font-size: 3rem;
        border-radius: 50%;
        top: -8px;
        right: 50%;
        transform: translate(50%);
        z-index: 100;
    }

    .cardContent {
        position: relative;
        padding: 1rem;
        background-color: $HoverColor;
        border-radius: 10px;
        overflow: hidden;

        h3 {
            font-size: $h3FontSize;
            margin-top: 1rem;
            padding: 1rem 0;
            font-weight: 800;
            color: $blackColor;
        }

        p {
            font-size: $normalFontSize;
            color: $textColor;
            padding-bottom: 1rem;
            font-weight: 500;

        }

        .btn {
            position: relative;
            color: $textColor;
            z-index: 1000;
        }

        .circle1, .circle2 {
            position: absolute;
            background-color: $paleGreen;
            border-radius: 50%;
            opacity: .7;
        }

        .circle1 {
            height: 100px;
            width: 100px;
            top: -50px;
            left: -50px;

        }

        .circle2 {
            height: 150px;
            width: 150px;
            bottom: -80px;
            right: -70px;
            z-index: 1;

        }
        
    }

}



// Media queries

@media  screen and (max-width: 990px) {
    .cardSection {
        flex-direction: column;

        .rightCard, .leftCard {
            width: 100%;
            flex-basis: 100%;

           
        }

        .leftCard {
            margin-top: 2rem;
            align-items: flex-start;
            height: 10px m !important;

            .sideBarCard {
                display: block !important;
            }
        }
    }

    .imgDiv {
        transform: translateY(10px) !important;

        img {
            width: 250px;
        }
    }

    
}


@media  screen and (max-width: 918px) {
    .headerSection {
        .searchBar {
            display: none;
        }

    }
    

    
}

@media  screen and (max-width: 725px) {
    .cardSection {
        .leftCard {
            .main {
                width: 100%;
            }

            .sideBarCard {
                display: none !important;

            }
        }

    }
    

    
}

@media  screen and (max-width: 490px) {
    .headerSection {
        .adminDiv {
            display: none;
        }

        .title {
            text-align: center;
            margin: auto;
        }

    }


    .cardSection {
        .rightCard {
            text-align: center;

            .buttons {
                margin: auto;
                flex-direction: column;

                .btn {
                    width: 100%;
                }
            }
        }

        .leftCard {
            .main {
                display: flex;
                align-items: center;
                justify-content: center;

                .textDiv {
                    margin: auto;
                }

                &::before {
                    width: 100% !important;
                }

              

            }
        }
    }
    

    
}
@media  screen and (max-width: 390px) {
    .topSection {
        .cardSection {
            .rightCard {
                text-align: center;
                padding: 2rem 1rem;

                h1 {
                    font-size: $h2FontSize;
                }
            }
        }
    }
   

}