$PrimaryColor: rgb(231, 1, 1);
$HoverColor: rgb(231, 181, 181);
$paleGreen: rgb(231, 181, 181);
$whiteColor: rgb(241, 241, 241);
$blackColor: rgb(15, 15, 15);
$textColor: rgb(116, 116, 116);
$bgColor: hsl(220, 10%, 94%);
$greyText: rgb(190, 190, 190);
$inputColor: hsl(330, 12%, 97%);



// Font and Typography

$biggestFontSize: 2.5rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.2rem;
$h3FontSize: 1rem;
$normalFontSize: .938rem;
$smallFontSize: .813rem;
$smallestFontSize: .75rem;


html {
    font-size: 90%;
}

a {
    text-decoration: none;
}

li {

    list-style: none;
}

.icon {
    font-size: $h2FontSize;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px $inputColor;
    padding: .8rem 1rem;
    color: $textColor;
}

.btn .icon {
    margin-left: .5rem;
}

.btn:hover {
    background-color: $paleGreen;
    color: $PrimaryColor;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.container {
    position: relative;
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgColor;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px $greyText;
}


// Hide the scroll thumb 

::-webkit-scrollbar {
    display: none;

}



//  Media Queries

@media  screen and (max-width: 990px) {
   .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
   }
   

}

@media  screen and (max-width: 918px) {
   .heading {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
   }
   

}

@media  screen and (max-width: 490px) {
   .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
   }
   

}
